body {
  font-family: 'Inter', sans-serif;
}
header {
  align-items: center;
}
.mlh-logo {
  max-width: 300px;
  height: auto;
}
.mlh-title {
  font-size: 2.25rem;
  color: #b1005d;
}
.container-links {
  background: #cccccc;
  height: 350px;
}
.link-title {
  color: #b1005d;
}
.card {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.card:hover {
  border: 2px solid #b1005d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25), 0 4px 8px 0 rgba(0,0,0,0.25);
}
.link-logo {
  max-width: 96px;
}